/****************/
/* Font Imports */
/****************/

/*****************/
/*     Navbar    */
/*****************/
.navbar{
  background-color: rgb(255, 255, 255);
  top: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  z-index: 3;
}
h2{
  margin: 0;
}
.logo{
  width: 20%;
}
.icons {
  width: max-content;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icons a{
  margin: 0 .75em;
}
.icon-color path{
  color: rgb(0, 0, 0);
}

.login {
  display: inline-block;
  text-align: center;
  margin: 0 1.5em 0 0;
  font-size: .9em;
  text-transform: uppercase;
  background-color: rgb(199, 89, 205);
  color: white;
  padding: .5em .75em;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}

.login:hover {
  background-color: rgb(189, 81, 195);
}

.login-parent {
  height: 50px;
  display: flex;
  align-items: center;
}

.logout {
  display: inline-block;
  text-align: center;
  margin: 0 1.5em 0 0;
  font-size: .8em;
  text-transform: uppercase;
  background-color: rgb(199, 89, 205);
  color: white;
  height: 30px;
  padding: .5em .75em;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout:hover {
  background-color: rgb(189, 81, 195);
}

.login-p {
  font-size: .95em;
  white-space: nowrap;
  margin: 0 .75em 0 1.5em;
}

/*****************/
/*     Edit      */
/*****************/

.dropdown-div{
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -40px;
  border-radius: 5px;
  background-color: #ffffff;
  min-width: 80px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {
  background-color: #ddd;
  cursor: pointer;
}
.show {
  display: block;
}
.edit-overlay {
  background-color: rgba(121, 121, 121, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  
}
.edit-form-container {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255);
  text-align: left;
  width: 525px;
  padding: 1.35em 1.6em 1.5em 1.6em;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  z-index: 6;
}
/*****************/
/*     Delete    */
/*****************/

.react-confirm-alert-overlay {
  background-color: rgba(156, 156, 156, 0.9) !important;
}

.react-confirm-alert-body {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
  text-align: center !important;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25) !important;
}

.react-confirm-alert-button-group {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
}

.react-confirm-alert-button-group > * {
  background-color: rgb(199, 89, 205) !important;
  text-transform: uppercase !important;
  font-size: .8em !important;
  margin: 0 .65em !important;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15) !important;
}

.react-confirm-alert-button-group > *:hover {
  background-color: rgb(189, 81, 195) !important;
}

/*******/
/* Add */
/*******/

.add-button {
  margin-right: .75em;
  cursor: pointer;
}

.overlay {
  background-color: rgba(121, 121, 121, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 4;
}

.add-form-container {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255);
  text-align: left;
  width: 525px;
  padding: 1.35em 1.6em 1.5em 1.6em;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  z-index: 6;
}

.add-form-header {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-add-button {
  background-color: rgb(180, 180, 180);
  width: 30px;
  height: 30px;
  padding: 0;
  border-style: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-add-button:hover {
  background-color: rgb(160, 160, 160);
}

.add-form {
  margin-top: .85em;
  padding: 0 .5em;
}

.add-form > * {
  margin: .6em 0;
}

.add-input {
  width: 97%;
  height: 22px;
  padding: .1em 0 .1em .5em;
  margin-bottom: 1em;
}

.add-submit-button {
  font-size: .9em;
  text-transform: uppercase;
  background-color: rgb(199, 89, 205);
  color: white;
  padding: .5em .75em;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-submit-button:hover {
  background-color: rgb(189, 81, 195);
}

/*****************/
/* Standard Tags */
/*****************/

body {
  background-color: rgb(245, 245, 245);
  margin: 0;
}

/*******************/
/* Post Container */
/*******************/

.posts-container{
  margin-top: 80px;
}

.post-container {
  background-color: white;
  width: 500px;
  border-radius: 1em;
  margin: 1em auto 2em auto;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.1);
}

.post-header {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-header > * {
  padding: 0 1em;
}

.location-p {
  color: rgb(45, 45, 45);
  font-size: .9em;
  margin-left: .6em;
}

.location-p > a {
  color: rgb(2, 116, 187);
  text-decoration: none;
}

.post-location-container {
  height: 55px;
  display: flex;
  align-items: center;
}

.clickable-svg {
  cursor: pointer;
}

.post-image {
  width: 500px;
  height: 500px;
  overflow: hidden;
  object-fit: cover;
}

.post-info-container {
  padding: .78em 1.5em 0 1.5em;
}

.likes-container {
  display: flex;
  align-items: center;
  height: 30px;
}

.likes-container > * {
  margin-right: .75em;
  user-select: none;
}

.like-button {
  cursor: pointer;
}

.post-name {
  margin: .6em 0 .5em 0;
}

.ingredients-title {
  margin-top: .95em;
  margin-bottom: .5em;
}

.ingredients-list {
  margin: .75em .5em;
}

.comments-title {
  margin-top: .8em;
  margin-bottom: .5em;
  user-select: none;
  cursor: pointer;
}

.comments-title:hover {
  color: rgb(85, 85, 85);
}

.comment-container {
  padding: 0 .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-container:hover {
  background-color: rgb(245, 245, 245);
}

.comment-container > p {
  margin: .5em 0 .5em 0;
}

.delete-comment-button {
  background-color: rgb(180, 180, 180);
  color: white;
  font-weight: 500;
  font-size: 1em;
  width: 22px;
  height: 22px;
  padding: 0;
  border-style: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete-comment-button:hover {
  background-color: rgb(160, 160, 160);
}

.delete-comment-button > * {
  width: 20px;
  height: 20px;
}

.add-comment-form {
  height: 35px;
  margin-top: .35em;
  margin-bottom: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-comment-form > input {
  width: 87%;
  height: 25px;
  padding: .2em .75em;
  border: 1px solid rgb(192, 192, 192);
  border-right-style: none;
  border-top-left-radius: .35em;
  border-bottom-left-radius: .35em;
}

.add-comment-form > input:focus {
  outline: none;
}

.submit-comment-button {
  background-color: rgb(199, 89, 205);
  width: 32px;
  height: 32px;
  border-style: none;
  border-top-right-radius: .35em;
  border-bottom-right-radius: .35em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.submit-comment-button:hover {
  background-color: rgb(189, 81, 195);
}

.divider-line {
  background-color: rgb(220, 220, 220);
  width: 100%;
  height: 1px;
  margin-top: 1.3em;
}

.tags-container {
  padding: 0 1.5em .2em 1.5em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.tags-container > * {
  color: rgb(95, 95, 95);
  font-size: .95em;
  margin: .55em 0;
}

/* Map Modal */

.exitMapModal {
  width: 24px;
  height: 24px;
  align-self: flex-end;
  margin-bottom: 3px;
  background-color: rgb(180, 180, 180);
  color: white;
  font-weight: 500;
  font-size: 1em;
  padding: 0;
  border-style: none;
  border-radius: 5px;
  margin: .5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ReactModal__Content {
  width: 75% !important;
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
  padding-bottom: 1.5em !important;
  margin: 0;
  position: absolute !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.ReactModal__Content > div {
  width: 100% !important;
}


/**********/
/* Footer */
/**********/

footer {
  background-color: white;
  width: 100%;
  height: 55px;
  margin: 2.7em 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 .7em rgba(0, 0, 0, 0.1);
}

footer > img {
  height: 50px;
  transform: translate(0px, -1px);
}

footer > h5:first-of-type {
  transform: translate(12px, 0px);
}

footer > h5 {
  transform: translate(-10px, 0px);
}

/* search bar */

.noResults {
  text-align: center;
  font-weight: 400;
  font-size: 50px;
}

.searchBarContainer > input {
  width: 175px;
  margin-right: 1em;
}

/* Spinner */
.spinner {
  text-align: center;
}

/*****************/
/* Media Queries */
/*****************/

/* For mobile phones and tablets: */
@media only screen and (max-width: 900px) {
  .post-container {
    background-color: white;
    width: 350px;
    border-radius: 1em;
    margin: 1em auto 2em auto;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.1);
  }
  
  .post-header {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .post-header > * {
    padding: 0 1em;
  }
  
  .location-p {
    color: rgb(45, 45, 45);
    font-size: .9em;
    margin-left: .6em;
  }
  
  .location-p > a {
    color: rgb(2, 116, 187);
    text-decoration: none;
  }
  
  .post-location-container {
    height: 55px;
    display: flex;
    align-items: center;
  }
  
  .clickable-svg {
    cursor: pointer;
  }
  
  .post-image {
    width: 350px;
    height: 350px;
    overflow: hidden;
    object-fit: cover;
  }

  .login {
    margin-right: .5em;  
  }

  .logout {
    font-size: .5em;
    height: 25px;
    margin-right: .5em;  
  }

  .login-p {
    font-size: 1.5vw;
    white-space: normal;
  }

  .searchBarContainer > input {
    width: 100px;
    margin-right: 10px;
  }
}