/*****************/
/*     Navbar    */
/*****************/
.navbar{
  background-color: rgb(255, 255, 255);
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1em rgb(221, 221, 221);
}
h2{
  margin: 0;
}
.logo{
  width: 50%;
}
.icons{
  width: 50%;
  text-align: right;
}
.icons a{
  margin: 0 .75em;
}
.icon-color path{
  color: rgb(0, 0, 0);
}
/*****************/
/*     Edit      */
/*****************/

.edit-content{
  margin-top: 5em;
  
/*****************/
/* Standard Tags */
/*****************/

body {
  background-color: rgb(225, 225, 225);
}

/*******************/
/* Post Container */
/*******************/

.post-container {
  background-color: white;
  width: 500px;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 1em;
  margin: 1em auto;
}

.post-image {
  width: 500px;
  height: 500px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  overflow: hidden;
  object-fit: cover;
}

.post-info-container {
  padding: 1em;
}

.likes-container {
  display: flex;
  align-items: center;
}

.likes-container > * {
  margin-right: 1em;
  user-select: none;
}

.like-button {
  cursor: pointer;
}